Django==5.1.7

# Web APIs for Django
djangorestframework==3.15.2

# Geographic add-ons for Django Rest Framework
djangorestframework-gis==1.1

# Python HTTP library
requests==2.32.3

# The uWSGI server
uwsgi==2.0.28

# Python client for Sentry (https://sentry.io)
sentry-sdk==2.22.0

# Implementation of per object permissions for Django.
django-guardian==2.4.0

# django-cleanup app automatically deletes files for FileField, ImageField and subclasses
django-cleanup==9.0.0

# Celery result backends for Django.
django-celery-results==2.5.1

# This extension enables you to store the periodic task schedule in the database.
django-celery-beat==2.7.0

# Python client for Redis database and key-value store
redis==5.2.1

# psycopg2 - Python-PostgreSQL Database Adapter
psycopg2-binary==2.9.10

# raster analysis
rasterio==1.4.3
odc-stac==0.3.11
pystac_client==0.8.6
netCDF4==1.7.2
matplotlib==3.10.1
rioxarray==0.18.2
geopandas==1.0.1
dask<2024.1.0
scikit-image==0.25.2
django-leaflet==0.31.0


# settings
django-constance[database]==4.3.2
boto3==1.37.30